{% extends 'pesq/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<h1>Cadastro de usuário</h1>


<div class="login-form">
<form class="consult" method="POST">
  {% csrf_token %}

  <div class="form-group" >
    <label>Nome Completo</label>
    {{ userForm.username }}
    <span>Máximo de 150 caracteres com letras, números e @/./+/-/_ . </span>
  </div>

  <div class="form-group" >
    <label>E-mail</label>
    {{ userForm.email }}
  </div>

  <div class="form-group" >
    <label>Senha</label>
    {{ userForm.password1 }}
      <span>Senha não deve ter pelo menos 8 caracteres </span><br>
      <span>Senha não pode ser inteiramente numérica </span><br>
      <span>Senha não pode ser similar à informação pessoal </span>
  </div>

  <div class="form-group" >
    <label>Confirmação de senha</label>
    {{ userForm.password2 }}
      <span>Repetir senha anteriormente digitada </span>
  </div>



  <button type="submit">Cadastrar</button>

</form>

<div class="errors">
  {% if userForm.errors %}
    <p>Erro ao cadastrar usuário:</p>
  {% endif %}

  {{userForm.errors}}
</div>

</div>


{% endblock %}
