{% extends 'pesq/base.html' %}

{% block content %}
<div class="pesquisador">

  <div class="pesq-picture">
    <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" width="300px">
  </div>

  <div class="name-title"> John Doe <span style="color: #55acee;">Engenheiro Civil, <b>Dr.</b></span></div>

  <div class="pesq-topic">Formação acadêmica</div>
  <div class="pesq-content">

    <div class="pesq-content-data"> 2000 - 2004 </div>
    <div class="pesq-content-info">
      Doutorado em Geotecnia (Conceito CAPES 6).<br>
      Universidade de Brasília, UnB, Brasil.<br>
      Título: Modelagem e simulação do transporte por arraste de sedimentos heterogêneos acoplado ao mecanismo de tensão-deformação-poropressão aplicado a barragens de rejeitos, Ano de obtenção: 2004.<br>
      Orientador: André Pacheco de Assis.<br>
      Bolsista do(a): Conselho Nacional de Desenvolvimento Científico e Tecnológico, CNPq, Brasil.<br>
      Palavras-chave: Aterro Hidráulico; Modelagem Matemática; Transporte por Arraste; Tensão-deformação-poropressão; Barragens de Rejeito; Método de Montante.<br>
      Grande área: Engenharias<br>
      Setores de atividade: Obras de infra-estrutura.<br>
    </div>

    <div class="pesq-content-data"> 1998 - 1999 </div>
    <div class="pesq-content-info">
      Mestrado em Geotecnia (Conceito CAPES 6).<br>
      Universidade de Brasília, UnB, Brasil.<br>
      Título: Efeito do gradiente de permeabilidade na estabilidade de barragens de rejeito alteadas pelo método de montante,Ano de Obtenção: 2000.<br>
      Orientador: André Pacheco de Assis.<br>
      Bolsista do(a): Conselho Nacional de Desenvolvimento Científico e Tecnológico, CNPq, Brasil.<br>
      Palavras-chave: Aterro Hidráulico; Método de Montante; Barragens de Rejeito; Permeabilidade; Soluções Analíticas; Métodos Numéricos.<br>
      Grande área: Engenharias<br>
      Setores de atividade: Obras de infra-estrutura. <br>
    </div>

    <div class="pesq-content-data"> 2004 - 2006 </div>
    <div class="pesq-content-info">
      Especialização em Administração de Sistemas de Informação. (Carga Horária: 360h).<br>
      Universidade Federal de Lavras, UFLA, Brasil..<br>
      Título: Visão prática da administração dos sistemas de informação do Centro Educacional Ícone- Referência em Ensino.<br>
      Orientador: Olinda N. Paes Cardoso.
    </div>

    <div class="pesq-content-data"> 1993 - 1997 </div>
    <div class="pesq-content-info">Graduação em Engenharia Civil.<br> Universidade de Brasília, UnB, Brasil.<br> Título: Soluções em estruturas de contenção utilizadas no metrô do DF.<br> Orientador: Ennio Marques Palmeira. </div>

  </div>

  <div class="pesq-topic">Formação Complementar</div>
  <div class="pesq-content">

    <div class="pesq-content-data"> 2018 - 2018 </div>
    <div class="pesq-content-info">
      Princples, Strategies, and Practical Techniques of Groundwater Pollution. (Carga horária: 30h).<br>
      Princeton Groundwater, Inc, PRINCETON, Estados Unidos.<br>

    </div>

    <div class="pesq-content-data"> 2014 - 2015 </div>
    <div class="pesq-content-info">
      Pós-Doutorado.<br>
      The University of Texas at Austin, UT Austin, Estados Unidos.<br>
      Bolsista do(a): Coordenação de Aperfeiçoamento de Pessoal de Nível Superior, CAPES, Brasil.<br>
      Grande área: Engenharias<br>
      Grande Área: Engenharias / Área: Engenharia Civil / Subárea: Geotécnica / Especialidade: Geotecnia Ambiental e Mineração.<br>
      Grande Área: Engenharias / Área: Engenharia Civil / Subárea: Geotécnica / Especialidade: Mecânica dos Solos Não-Saturados. <br>
    </div>

  </div>

  <!-- <div class="pesq-topic">Atuação Profissional</div>-->

  <div class="pesq-topic">Linhas de Pesquisa</div>
  <div class="pesq-fields">
    <a class="fields" href="#">Autômatos celulares</a><a class="fields" href="#">Geometria Fractal</a><a class="fields" href="#">Fluxo Não Saturado</a><a class="fields" href="#">Internet das Coisas</a><a class="fields" href="#">Transporte de Contaminantes</a><a class="fields" href="#">Remediação</a><a class="fields" href="#">Geossintéticos</a>
  </div>

  <div class="pesq-topic">Publicações</div>

  <div class="pesq-public">

    <div class="pesq-content-data"> 2018 </div>
    <div class="pesq-content-info"><a href=""> The Iota-Delta Function as an Alternative to Boolean Formalism.</a> </div>
    <div class="pesq-content-press">International Journal of Foundations Of Computer Science</div>

    <div class="pesq-content-data"> 2017</div>
    <div class="pesq-content-info"><a href="#"> Efficient Approach to Solving Transient Unsaturated Flow Problems. I: Analytical Solutions</a></div>
    <div class="pesq-content-press">International Journal of Geomechanics</div>

  </div>

  <div class="pesq-topic">Produtos, Inovações e Aplicações</div>

</div>
{% endblock %}
