.chart-grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em 1em;
  justify-content: center;
}

.dash-chart{
  margin:  0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.dash-chart-detail{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 1em;
}

#no-data{
  display: table;
  margin: 0 auto;
  font-size: 4em;
  color: rgba(255, 160, 122, 0.3);
  font-weight: bolder;
  padding: 2em 0em 0em 0em;
}

#no-data-comment{
  display: table;
  margin: 0 auto;
  font-size: 1.2em;
  color: rgba(255, 160, 122, 0.5);
  font-weight: bolder;
  padding: 0em 0em 4em 0em;
}
