<!-- templates/registration/password_reset_form.html -->
{% extends 'pesq/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  <h1>Redefinir senha</h1>

  <div class="profile-form">

  <form method="POST">
    {% csrf_token %}

    <div class="form-group" id="nome">
      <label>Senha atual: </label>
      {{ form.old_password }}
    </div>

    <div class="form-group" id="nome">
      <label>Nova senha: </label>
      {{ form.new_password1 }}
        <span>Senha não deve ter pelo menos 8 caracteres </span><br>
        <span>Senha não pode ser inteiramente numérica </span><br>
        <span>Senha não pode ser similar à informação pessoal </span>
    </div>

    <div class="form-group" id="nome">
      <label>Confirmação de nova senha </label>
        {{ form.new_password2 }}
        <span>Repetir senha anteriormente digitada </span>
    </div>

    <button type="submit">Redefinir</button>
  </form>
</div>
</div>

<div class="errors">
  {% if form.errors %}
    <p>Erro ao redefinir senha:</p>
  {% endif %}
  {{form.errors}}
</div>

{% endblock %}
